---
import { playlists } from "@/lib/data";
import Layout from "../layouts/Layout.astro";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import Greeting from "@/components/Greeting.svelte";
---

<Layout title="Spotify polacodev.">
	<div
		id="playlist-container"
		class="relative transition-all duration-1000 bg-green-600"
	>
		<div class="relative z-10 px-6 pt-4">
			<Greeting />
			<div class="flex flex-wrap justify-between mt-6">
				{playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
			</div>
			<h1 class="text-2xl font-bold pt-5">Recently played</h1>
			<div class="flex flex-wrap justify-between mt-6 gap-4">
				{playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
			</div>
			<!-- <h1 class="text-2xl font-bold pt-5">Made For Marcus</h1>
			<div class="flex flex-wrap justify-between mt-6 gap-4">
				{playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
			</div> -->
		</div>
		<div
			class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
		>
		</div>
	</div>
</Layout>

<style></style>
